/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --accent-color-with-background: #000028;
  --accent-heading-color: #db00ff;
  --accent-color-menu: rgba(255, 0, 112, 0.4);
  --accent-color-head: #ff0070;
  --accent-decor-color:#ff0070;
  --text-color: #f1b2ce;
  --button-hover-color: #ff007066;
  --heading-color: #ff0070;
  --decorative-bracket-color: #ff0070;
  --decoration-color: #ff0070;
  --cover-image: url(../images/cover-image-dark.png);
}