/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

 :root.theme-light {
    --cover-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --accent-color-menu: #32312D66;
    --accent-color-head: #353430;
    --accent-background-page: #fff1f7;
    --accent-color-with-background: #353430;
    --accent-decor-color:#353430;
    --accent-heading-color: #ffc2e6;
    --text-color: #353430;
    --decoration-color: transparent;
  }

  @media (prefers-color-scheme: light) {
    :root {
    --cover-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --accent-color-head: #353430;
    --accent-color-menu: #32312D66;
    --accent-background-page: #fff1f7;
    --accent-color-with-background: #353430;
    --accent-decor-color:#353430;
    --accent-heading-color: #ffc2e6;
    --text-color: #353430;
    --decoration-color: transparent;
    }
  }