/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
 background-image: var(--cover-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-family, "IBM Plex mono", sans-serif);
  font-weight: bold;
  line-height: 23.4px;
}

.header {
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  height: 100vh;
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
    min-height: 1024px;
  }
}

@media (min-width: 1024px) {
  .header {
    min-height: 768px;
  }
}

.header__theme-menu {
  display: contents;
}

.header__theme-menu-list {
  grid-column: 1;
  grid-row: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  margin: 0;
  padding-top: 65px;
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  display: block;
  color: var(--accent-color-head, #ff0070);
  font-size: 18px;
  font-weight: 400;
  padding: 0px 13px 2px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-menu, rgba(255, 0, 112, 0.4));

}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color-head, #ff0070);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color-head, #ff0070);
}

@media (min-width: 768px) {
  .header__theme-menu-list {
    padding-top: 172px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: start;
    padding: 0;
  }
}

.header__title {
  grid-row: 2;
  justify-self: start;
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--accent-heading-color, #db00ff);
  font-weight: 700;
  text-shadow: 4px 4px 0px var(--accent-color, #ff0070);
  font-family: var(--font-family, "IBM Plex mono");
}

@media (min-width: 768px) {
  .header__title {
      transform: translateX(-20px);
  }
}

@media (min-width: 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header__text {
  grid-row: 3;
  align-self: center;
  max-inline-size: 364px;
  background-color: var(--accent-color, #ff0070);
  color: var(--accent-color-with-background, #000028);
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

@media (min-width: 768px) {
  .header__text {
    justify-self: flex-end;
  }
}

@media (min-width: 1024px) {
  .header__text {
    max-inline-size: 496px;
  }
}

.decoration {
  position: absolute;
  display: flex;
  justify-self: end;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  top: 11px;
  right: 20px;
  color:var(--decoration-color, #ff0070);
}

.decoration::after {
  content: "";
  display: block;
  border-radius: 50%;
  background-color: var(--decoration-color, #ff0070);
  box-shadow: 0 0 5px 4px var(--decoration-color,#ff0070);
  width: 7px;
  height: 7px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .decoration {
    right: 30px;
    top: 20px;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-top: 1px solid var(--accent-decor-color, #ff0070);
  border-right: 1px solid var(--accent-decor-color, #ff0070);
  width: 25px;
  height: 25px;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--accent-decor-color,#ff0070);
  border-left: 1px solid var(--accent-decor-color,#ff0070);
  width: 25px;
  height: 25px;
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

@media (min-width: 768px) {
  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }
}

@media (min-width: 768px) {
  .decorated-zone::before {
   right: 20px;
   top: 20px;
  }
}

.content__section {
  padding: 0px 5px 0px;
}

.section__why {
  margin-top: 40px;
  margin-bottom: 50px;
}

.section__what {
  margin-bottom: 49px;
}

.section__how {
  margin-bottom: 49px;
}

@media (min-width:768px) {
  .content__section {
    padding: 0px 10px 0px;
    display: grid;
  }
}

@media (min-width:1024px) {
  .content__section {
    padding: 0px 10px 0px;
    display: grid;
  }
}

.section__header {
  color: var(--accent-color-head, #ff0070);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.section__cause {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .section__cause_why {
    padding-left: 11px;
    padding-top: 0px;
  }
}

@media (min-width: 768px) {
  .section__cause_how {
    padding-left: 12px;
    padding-top: 0px;
  }
}

@media (min-width: 1024px) {

  .section__cause_why {
    padding-left: 4px;
  }

  .section__cause_how {
    padding-left: 6px;
    padding-top: 0;
  }
}

.section__cause_title {
  color: var(--accent-color-with-background, #000028);
  background-color: var(--accent-color, #ff0070);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 10px;
}

.section__cause_text {
  color: var(--text-color, #f1b2ce);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.link__text {
  text-decoration: none;
  text-shadow: 1px 1px 0px var(--accent-color, #ff0070);
  cursor: pointer;
}

.link__text:hover {
  border-bottom: 1px solid var(--text-color, #f1b2ce);
}

.link__text:focus {
  outline: none;
}

.link__text:focus-visible {
  outline: 1px solid var(--text-color, #f1b2ce);
}

.section__cause_title-how {
  color: var(--accent-color-with-background, #000028);
  background-color: var(--accent-color, #ff0070);
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 20px;
}

.section__cause_title-how {
  font-weight: 400;
}

@media (min-width: 768px) {
  .section__why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 60px;
    margin-bottom: 80px;
  }

  .section__what {
    margin-bottom: 80px;
  }
}

@media (min-width: 768px) {
  .section__header_why {
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .what__header {
    max-inline-size: 236px;
  }
}

@media (min-width: 1024px) {

  .section__img {
    margin-bottom: 60px;
  }

  .section__how {
    margin-bottom: 80px;
  }

  .section__why {
    margin-top: 60px;
    margin-bottom: 80px;
  }

  .section__what {
    margin-bottom: 80px;
  }

  .what__header {
    max-inline-size: 314px;
  }

  .section__cause_what {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .section__header_how {
    padding-top: 0px;
  }
}

@media (min-width: 768px) {
  .section__how {
    grid-template-columns: 1fr 2fr;
    margin-bottom: 80px;
  }
}

.section__img_header {
  color: var(--accent-color-with-background, #000028);
  background-color: var(--accent-color, #ff0070);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.section__img {
  display: flex;
  flex-direction: column;
  gap:10px;
  margin-bottom: 40px;
}

.section__img_foto {
  inline-size: 100%;
}

@media (min-width: 768px) {

  .section__img {
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "section__img_header section__img_header section__img_header"
    "section__img_foto-sunset section__img_foto-sunset section__img_foto-ice-cream"
    "section__img_foto-tape section__img_foto-books section__img_foto-ice-cream"
    "section__img_foto-tape section__img_foto-street section__img_foto-street";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 60px;
  }

  .section__img_header {
    grid-area: section__img_header;
    grid-template-rows: auto;
  }

  .section__img_foto-sunset {
    grid-area: section__img_foto-sunset;
  }

  .section__img_foto-ice-cream {
    grid-area: section__img_foto-ice-cream;
  }

  .section__img_foto-tape {
    grid-area: section__img_foto-tape;
  }

  .section__img_foto-books {
    grid-area: section__img_foto-books;
  }

  .section__img_foto-street {
    grid-area: section__img_foto-street;
  }

  .section__img_foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
  
.footer {
  min-height: 668px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_header {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color:var(--accent-heading-color, #db00ff);
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
}

@media (min-width: 768px) {
  .footer {
    min-height: 1024px;
  }
}

@media (min-width: 1024px) {
  .footer {
    min-height: 768px;
  }

  @media (min-width: 768px) {
  .footer__header {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  }